<h1>Manufacturers</h1>
<table class="table table-bordered table-hover">
<tr>
    <td><p>ID</p></td>
	<td><p>Name</h3></p>
	<td><p>Link</p></td>
	<tr>
<% @manufacture.each do |man| %>
<tr>
	<td><h3><%= man.id %></h3></td>
	<td><p><%= link_to man.name,man  %></p></td>
	<td><p><%= link_to man.link, "http://#{man.link}" %></p></td>
	</tr>
<% end %>
</table>
 <% if logged_in? %>
<%= link_to "Add Manufacturers",new_manufacture_path %>
<% end %>