<h1>posts</h1>
<<<<<<< HEAD

<% @posts.each do |post| %>
	<h3><%= link_to post.title,post %></h3>
	<p><%= post.body %></p>
<% end %>
<%= link_to "new post",new_post_path %>

=======
<p><%= @title %>
>>>>>>> 9b9f316ada41e172021fe2b0da92aba2101b411d
