
<h1>add new category</h1>
<%= form_for @category do |var| %>
	<p>
		<%= var.label :name %><br />
		<%= var.text_field :name %><br />
	</p>
	<p>
		<%= var.submit "Add category" %>
	</p>
<% end %>
